<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- CSS -->
    <partial name="~/Views/Shared/Partials/Layout/_Css.cshtml" />
    <!-- Other CSS -->
    @RenderSection("Css", false)
</head>
<body>
    <header>
        <nav class="">
            <div class="nav-element">
                <a asp-area="" asp-controller="Home" asp-action="Index">Test</a>
            </div>
        </nav>
    </header>
    <div id="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <a>Footer</a>
    </footer>
    <!-- Javascript -->
    <partial name="~/Views/Shared/Partials/Layout/_Javascript.cshtml" />
    <!-- Other Javascript -->
    @RenderSection("Js", false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
