@section Electron {
    <script>
        (function () {
            const { ipcRenderer } = require("electron");

            document.getElementById("select-directory").addEventListener("click", () => {
                alert("select-directory has been clicked!");
                ipcRenderer.send("select-directory");
            });

            ipcRenderer.on("select-directory-reply", (sender, path) => {
                const element = document.getElementById("selected-directory");
                element.innerText = `${path}`;
                element.style.display = "block";
            });
        }());
    </script>
}

<div id="form-section">
    <button id="select-directory">Select location</button>
    <span id="selected-directory"></span>

    <form id="test-form" method="post" enctype="multipart/form-data" asp-antiforgery="true" asp-area="" asp-controller="Home" asp-action="Redirect">
        <button id="submit-form">Continue</button>
    </form>
</div>
