$bg: #333333;
$bg-text: white;
$bg-text-hover: darken($bg-text, 20%);

html,
body {
    margin: 0;
    padding: 0;
}

html {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        header,
        footer {
            padding: 0 2em;
            background-color: $bg;

            a {
                color: $bg-text;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $bg-text-hover;
                }
            }
        }

        header {
            nav {
                display: flex;
                padding: 1em;

                .nav-element {
                    margin-right: 1em;
                }
            }
        }

        footer {
            padding: 1em;
        }

        #main-container {
            flex-grow: 1;

            main {
                text-align: center;

                #form-section {
                    $width: 15em;
                    $height: 3em;
                    $margin: 1em;

                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    button,
                    span {
                        background-color: $bg;
                        color: $bg-text;
                        text-align: center;
                        padding: 1em;
                        margin-top: 1em;
                        border: none;
                    }

                    span {
                        display: none;
                        min-width: $width;
                    }

                    button {
                        width: $width;
                        height: $height;
    
                        &:hover {
                            color: $bg-text-hover;
                        }
                    }
                }
            }
        }
    }
}