@use 'breakpoints' as *;
@use 'theme' as *;

html,
body {
    margin: 0;
    padding: 0;
}

html {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        header,
        footer {
            padding: 0 2em;
            background-color: $nav;

            a {
                color: $nav-text;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $nav-text-hover;
                }
            }
        }

        header {
            nav {
                display: flex;
                padding: 1em;

                .nav-element {
                    margin-right: 1em;
                }
            }
        }

        footer {}

        #main-container {
            flex-grow: 1;

            main {

            }
        }
    }
}